
    <div >
      <form  style="
    box-shadow: 0px 2px 20px -6px;
    width: 301px;
    padding: 6%;
    margin:3% auto;
">


     <div>
        <span class="ui-float-label">
        <input id="name" type="text" size="30" pInputText>
        <label for="name">Name</label>
        </span>
     </div>

<br><br>

     <div>
         <span class="ui-float-label">
         <input id="number" type="number" size="30" pInputText>
         <label for="number">Phone number</label>
          </span>
     </div>


<br><br>

      <div>
         <span class="ui-float-label">
         <input id="uname" type="text" size="30" pInputText>
         <label for="uname">Username</label>
         </span>
      </div>

<br><br>

<div>

          <span class="ui-float-label">
          <input id="password" type="password" size="30" pInputText>
          <label for="password">Password</label>
          </span>
          </div>

<br><br>

        <div >
          <p-button routerLink="/admin" label="Create Account" style="padding-left: 5%"></p-button>
          <p-button routerLink="/admin" label="Cancel"  style="padding-left: 8%"></p-button>
        </div>

      </form>
    </div>
